.table-wrap {
  table {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 0;
    box-sizing: border-box;
    border: 1px solid #d1d1d1;
    overflow: hidden;

    // table border setting
    &.border-small {
      border-radius: 5px;
    }

    &.border-medium {
      border-radius: 10px;
    }

    &.border-big {
      border-radius: 15px;
    }

    //th, td background setting
    @include th-bg-color(grey);
    @include th-bg-color(pink);
    @include th-bg-color(blue);
    @include th-bg-color(green);
    @include td-bg-color(grey);
    @include td-bg-color(pink);
    @include td-bg-color(blue);
    @include td-bg-color(green);

    //th, td align
    @include table-item-align(left);
    @include table-item-align(center);
    @include table-item-align(right);

    //th font size
    @each $h-type in (h3, h2, h1){
      $font-type: $table-title-h3;
      @if( $h-type == h3 ) {
        $font-type: $table-title-h3;
      } @else if( $h-type == h2 ) {
        $font-type: $table-title-h2;
      } @else if( $h-type == h1 ) {
        $font-type: $table-title-h1;
      }
      &.#{$h-type} {
        th {
          font-size: $font-type;
          font-weight: $weight-medium;
        }
      }
    }

    th, td {
      padding: 10px;
      line-height: $table-line-height;
      font-size: $table-font-size;

      &:not(:last-child) {
        border-right: 1px solid #d1d1d1;
      }
    }

    thead th,
    tbody tr:not(:last-child) th,
    tbody tr:not(:last-child) td {
      border-bottom: 1px solid #d1d1d1;
    }

    td {
      font-weight: $weight-normal;
    }
  }
}

// .component-title {
//   display: block;
//   padding-bottom: 6px;
// }

// .table-wrap + .component-title {
//     margin-top: 25px;
// }