@charset "utf-8";

// HISButton Color Variable
$btn-default-create: #fff;
$btn-default-read: #e2f1ff;
$btn-default-update: #1c90fb;
$btn-default-delete: #444;
$btn-over-create: #fff;
$btn-over-read: #e2f1ff;
$btn-over-update: #0079e8;
$btn-over-delete: #2c2c2c;
$btn-click-create: #f5f5f5;
$btn-click-read: #bee0fd;
$btn-click-update: #136ad5;
$btn-click-delete: #000;
$btn-disable: #e5e9ed;