@charset "utf-8";

// Default Color Variable
$default-black: #000;
$default-gray-dark: #4a4a4a;
$default-gray-medium-dark: #8c8c8c;
$default-gray-medium: #a6a6a6;
$default-gray-light: #c4c4c4;
$default-point: #1c90fb;