@charset "utf-8";

// Point Color Varible
$point-blue-dark: #136ad5;
$point-blue-medium: #0079e8;
$point-blue-light: #1c90fb;
$point-gray-dark: #666;
$point-gray-medium: #939ba3;
$point-gray-light: #ccc;
$point-white: #fff;