@charset "utf-8";

// HISTooltip Color Variable
$tooltip-bg-message: #333;
$tooltip-bg-information: #1c90fb;
$tooltip-bg-success: #20b162;
$tooltip-bg-warning: #fea031;
$tooltip-bg-error: #f45c4e;
$tooltip-line-message: #a6a6a6;
$tooltip-line-information: #1c90fb;
$tooltip-line-success: #20b162;
$tooltip-line-warning: #fea031;
$tooltip-line-error: #f45c4e;