// =====================================================================================
// MixIn
// =====================================================================================

@mixin radiobutton-size($size) {
  width: ($size + 4px);
  height: ($size + 4px);

  &:focus,
  &:hover {
    width: ($size + 4px);
    height: ($size + 4px);
  }

  +label {
    font-size: $size;

    .radio-icon {
      width: ($size + 4px);
      height: ($size + 4px);
      margin-right: ($size * 0.4);
    }
  }
}

@mixin radiobutton-color($color) {
  &.outline+label .radio-icon {
    border-color: $color;
  }

  &:checked+label .radio-icon::before {
    background-color: $color;
  }
}

