$pink:#e47cb6;
$error: #e21818;
$warning: #ffd93d;
$blue: #007dea;
$green: #12b886;
$gray: #6a708a;
$gray200: #d5d7df;
$gray400: #a4a6af;
$black: #666;
$white: #fff;

$color-chip:(
  "black": #000,
  "gray01": #4a4a4a,
  "gray02": #8c8c8c,
  "gray03": #a6a6a6,
  "gray04": #c4c4c4,
  "point": #1c90fb,
  "success": #20b162,
  "warning": #ffa031,
  "information": #1c90fb,
  "error": #f45c4e,
  "message": #707584
);
